@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@700&family=Sunflower:wght@500&display=swap');

 
/* 나눔 고딕, 주아, 선플라워 
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Sunflower', sans-serif;
 */


/* 기본설정 */
*{
    margin:0;
    padding:0;
}
/* 타이틀 폰트 적용 */
.title_font{
    font-family: 'Jua', sans-serif;
}

/* ---------------------------------------------------------------- */
/* header 설정 */
header{
    padding: 20px;
    border-bottom: 1px solid #aaa;
}
        /* hr로도 가능하다 */
hr{
    /* hr이 가진 기본 속성을 0으로 만들고 시작 */
    border:0; 
    border-top: 1px solid #aaa;
    margin: 5px 0;

}
/* ---------------------------------------------------------------- */
/* 회원 가입 폼 영역 */
#regFormArea{
    padding:20px 40px;
    border-bottom: 1px solid #aaa;
}

form label{ 
    /* form 안에 있는 모두 후손 label */
    display : block; 
    /* 블록으로 만들면 라벨(인라인)과 입력칸이 위아래로 생김 */
}

#regForm>table td{

    width : 200px;

    /* 각 td마다 5px씩 간격주기 */
    padding: 5px;
}


/* 등록과 수정submit 설정 */
#regForm input[type =text],#regForm input[type =password]{ 
    /* 입력창 높이 키우기 */
    height: 30px;
    width: 200px;

    /* 폰트 크기 키우기 */
    font-size: 1.2em;

    /* 입력할 때 글자가 좌우로 간격주기 */
    padding: 0 5px;
}

#regForm input[type=submit], #editForm input[type =submit]{
    /* 등록 버튼 */

    width: 100px;
    height: 56px;

    /* 테두리 */
    border: 1px solid #aaa;

    /* 폰트  */
    font-size: 1.5em;
    font-family: 'Jua', sans-serif;

    /* 배경색 */
    background-color:greenyellow;
}

div.msg{
    color:red;
    display:none;

}
/* ---------------------------------------------------------------- */
/* 회원리스트 영역 */
#listArea{
    padding:20px 40px;
    border-bottom: 1px solid #aaa;
}

#listArea>table{
    margin: 10px 0;

    /* 테이블의 폭 */
    /* 화면의 사이즈에 따라 달라진다 */
    width: 60%; 

    /* 중간에 보더 두줄이 붙도록 간격 없애기 */
    border-collapse: collapse;
}

/* th : 컬럼명들 td:밑에 생기게 되는 정보들 */
#listArea>table td, #listArea>table th{ 
    padding:10px;
    border : 1px solid #aaa;

    /* 안에 텍스트 가운데 정렬 */
    text-align: center;
}


/* ---------------------------------------------------------------- */
/* 회원 정보 수정 영역 */
#editFormArea{

    /* 감싸고 있는 전체 박스 설정 */

    width:350px;
    border : 1px solid #aaa;
    border-radius : 10px;

    background-color:rgb(207, 243, 198);

    /* 간격주기 */
    padding: 20px;

    /* 위치를 가운데로 오도록 */
    /* 절대좌표 */
    position: absolute;
    /* 화면의 50%e를 차지한다.  */
    left:50%; 
    top:100px;
    margin-left:-175px;

    /* 수정 전에는 화면에서 안보이도록 설정 */
    display:none;
}

/* 회원정보수정과 닫기 영역 */
#div_header{
    border-bottom: 1px solid #aaa;

    overflow: hidden;
}

/* 회원정보수정 */
#div_header>h2{
    /* 왼쪽으로 밀기 */

    float: left;

    padding-bottom: 5px;
}

/* 닫기  */
#div_header>div{
    /* 오른쪽으로 밀기 */

    float:right;
}

/* 테이블 설정 */
#editFormArea > table{
    width: 100%;

    margin-top:15px;


}

/* 테이블 밑에 있는 칸들 설정 */
#editForm> table td{
    /* 칸들간의 간격 주기 */
    padding : 5px 10px;

    /* 텍스트 중간 정렬 */
    text-align: center;
}


