@charset "utf-8";

*{
    margin:0;
    padding:0;
}

html,body,div,h1{
    font-size: 64px;
    font-family:Arial, Helvetica, sans-serif;
}

/*body 설정*/
body{
    background-color: #f5f6f7;
}

/*main wrap 설정 (전체 감싸는 블록)*/
#main_wrap{
    width:500px;

    padding: 100px;
    /* 양옆으로는 자동으로! */
    margin: 100px auto;

}

/*헤더설정*/

header > h1{
    font-size: 64px;
    color:#03c75a;
    text-align: center;
}

a{
    color:#03c75a;
    text-decoration:none;
}


/*div 설정*/
.login{
    text-align: center;
}
.login>input[type= text]{
    /*사이즈*/
    width:270px;
    height:50px;
    padding: 0 10px;

    /*테두리,쉐도우*/
    background-color:white;
    border: 0;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px rgb(199, 199, 199);

    /*글자색*/
    font-size: 12px;
    color:gray;

    
}
.login>input[type=submit]{
    /*사이즈*/
    width:295px;
    height:50px;

    /*배경색*/
    background-color:#03c75a;
    border: 0;

    /*글자색*/
    color: white;
}

