body{
    background-color:#FAFAFA;
    margin:0;
    /* 08.22 수정 */
    padding:0

}

a{
    text-decoration: none;
    color: #545454;
}

a:visited{
    color: #545454;
}

/* 전체 container */

.container{
    /* padding:0 15%; */

     /* 08.22 수정 */
    margin:0 auto;
    width:1000px;
}

.bio{
    display:grid;
    grid-template-columns: 1fr 2fr;

    /* background-color: brown; */
    height:13em;
    padding:3em 0 0 5em;
    /* border-bottom: 0.1px solid #DBDBDB;  */
}

/* 프로필 사진 */

/* div를 원으로 틀을 만들어서 그안에 img를 꽉차게 들어가도록 하기! */
.profile-photo{
 background-color: brown;
 width:10em;
 height:10em;
 border-radius: 50%;
}
/* 위에 만든 거에 img 꽉들어맞게 */
.profile-photo>img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:50%;
}
/* profile-info 사진 옆 사용자 정보 영역 */
/* profile-info 전체 */
.profile-info{
    display:flex;
    flex-direction: column;
}

/* 사용자 아이디영역 */
.username>a{
    font-size:1.5em;
    /* color: #545454; */

    
}

/* 게시물, 팔로우, 팔로워 */
.follow-infos{
    display:flex;
    list-style:none;
    margin : 0;
    padding-left:0;
    
}

.follow-infos li{
    /* 위에 아이디랑 간격 */
    margin-top:5px;

    /* 글자 간 각격 */
    padding-right: 15px;

    /* 8.22 수정 100px->120px */
    width: 120px;

    /* 커서 포인터 올리기 */
    cursor:pointer;
    
    color: #545454;
    
}

/* 게시글 영역 */
.user-post{
    /* 글 길어지면 아래로 내려가지 않도록 */
    overflow:hidden;
}
.user-post>p{
   width:630px; 
   height:80px;
}


/* 버튼 영역 : 내사진 수정, 사진 업로드 */
.buttons{
    display:flex;
}
.buttons input{
    background-color:#fdef7b;
    width:150px;
    height:30px;

    border: 0.1px solid #DBDBDB;
    border-radius: 10px;
    font-size:0.8m;

    cursor:pointer;

    margin-right: 30px;
}

/* 인기많은 크루 하이라이트 영역 */
.mycrews{
    display:flex;

    padding:20px;
    
    /* 이미지와 크루명의 총 높이가 110->꽉들어맞게!  */
    height:110px;
    line-height:center;
    
    /* 게시물 nav랑 구분  */
   /*  border-bottom: 0.1px solid #DBDBDB; */
}

.crew{
    /* 이미지 80+30 =110 높이 */
    width:110px;
    height:110px;
    /* 중간으로 정렬 */
    text-align: center;
    line-height:center;

    /* 인기크루끼리 간격 */
    margin-right:15px;

}


/* 크루 대표 이미지 */
.crew img{
    width: 80px;
    height:80px;
    /* 중간정렬 */
    text-align: center;
    line-height: 80px;

    /* 동그라미로 */
    border-radius: 50%;
    
    padding:0;

}


/* 크루명 */
.crew div{
    width:110px;
    height:30px;

    line-height: 30px;
    text-align: center;

    font-size:12px;

}



/* 갤러리 nav :피드랑 하트 */
.gallery-nav{
    /* 전체 중간 정렬 */
    height: 50px;
    line-height: 50px;

    padding-top: 15px;
    padding-bottom: 15px;
  
    display:flex;

    border-top: 0.1px solid #DBDBDB;
    
}

.gallery-nav>a {
    /* 중간으로 위치시키기 위해 왼쪽 마진 */
    margin-left: 320px;
}

.heart{
    width: 30px;
    height: 30px;
    padding-top:5px;
}



/* 사진  갤러리 영역 */
.gallery{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   /* 액자식으로 여백주기 */
   
    /* 08.22 수정 */
    /* column-gap:0.3em; */
    /* row-gap:1.7em; */

    column-gap: 10px;
    row-gap:30px;

    /* 위쪽 실선 */
    margin-bottom:2em;

    /* 08.22추가 */
    padding-left:18px;
}

.item{
    /* height:17.5em;
    width:17.5em; */

    /* 08.22수정: 사이즈 수정 */
    height: 300px;
    width:300px;
    background:#000;

}

.item>img{
    height:100%;
    width:100%;
    
}

/* 커서 올리면 불투명 회색으로 바뀜 */
.item>img:hover{
    opacity:0.7;
}



/* 페이징 영역 */
.pages{
    /*div 항상 중간 정렬 */
    display:flex;
    justify-content: center;
    align-items: center;

    padding:10px 0;
    
}

 /* width값 안줘야 번호 커져도 밑으로 숫자 안내려감 */
/* .pages div{
        height: 100px;
   
    line-height: 100px;
    text-align: center;
} */

/* 페이지 번호 사이 간격 */
/* .pagenumber{
    
    margin-right: 10px;
} */


.pages.pagenumber{
    width:50px;
    height:50px;
   /*  line-height: 50px;
    text-align: center;
     */
    
}

.pagenumber a{
    padding:10px 10px;
   
}