<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link href="default2.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <section class="item item-a">
            <h1>SectionA</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sapiente sunt voluptatibus commodi culpa. Accusantium asperiores, quisquam optio vel facere, quas maxime, eligendi vitae dolorem nihil officia dicta amet. Tempora.
            </p>
        </section>
       
       <section class="item item-b">
            <h1>section B</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam incidunt sunt, esse repellat nam velit eos nulla harum molestias maxime quasi consequatur impedit quo veritatis. Ullam accusantium qui tempora pariatur!
            </p>

       </section>
      
       
    </div>
    <footer>footer</footer>
</body>
</html>